# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
/esp8266_beaconSpam/Debug
/esp8266_beaconSpam/Release
/esp8266_beaconSpam/.vs/esp8266_beaconSpam/v16/.suo
/esp8266_beaconSpam/.vs/esp8266_beaconSpam/v16/ipch/AutoPCH
/esp8266_beaconSpam/myConfig.h
/esp8266_beaconSpam/.vs/esp8266_beaconSpam/v16
